
[build]
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/fr/*" # keep in sync with defaultLocale in i18n.ts
  to = "/:splat"
  status = 301
  force = true

[dev]
  targetPort = 4321

[[plugins]]
  package = "netlify-plugin-csp-generator"

  [plugins.inputs]
  buildDir = "build"
  disableGeneratedPolicies = ["styleSrc"]

  [plugins.inputs.policies]
    defaultSrc = "'self'"
    scriptSrc = "'self' 'unsafe-inline'"
    scriptSrcElem = "'self' 'unsafe-inline'"
    styleSrc = "'self' 'unsafe-inline' https://fonts.googleapis.com"
    imgSrc = "'self' data: blob:"
    fontSrc = "'self' https://fonts.gstatic.com"
    connectSrc = "'self'"
    objectSrc = "'none'"
    baseUri = "'self'"
    frame-ancestors = "'none'"
